/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --secondary: #ffffff;
  --header: #2a5ee8;
  --section-bg: #f6f6f6;
  --primary: #23272a;
  --accessory: #7289da;
}

.d-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}


/* body */

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

main img{
  width: 100%;
}

header {
  background-color: var(--header);
  min-height: 550px;
}

nav.container{
  padding: 20px;
}

#hero{
  color: var(--secondary);
}

.text-center{
  text-align: center;
}

h1{
  padding-top: 150px;
  font-size: 50px;
}

p{
  padding-top:40px;
  line-height: 40px;
  word-spacing: 3px;
  font-size: larger;
}
footer {
  color: white;
  background-color: var(--primary);
}

ul {
  list-style: none;
}

a:hover{
  text-decoration: underline;
}

a {
  color: var(--secondary);
  padding: 6px 10px;
  display: block;
  text-decoration: none;
}

#hero {
  background-image: url(../img/jumbo.png);
  min-height: 650px;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg{
  background-color: var(--section-bg);
  height: 300px;
}

.content{
  width: 40%;
}

h2{
  font-size: 40px;
  padding-top: 20px;
}

.image-section{
  width: 60%;
}
/* list */

ul {
  list-style: none;
}

li{
  padding: 7px 10px
}

section > .container.d-flex{
  padding-top: 100px;
}

/* buttons */

.button{
  background-color: var(--secondary);
  color: var(--primary);
  min-width: 70px;
  padding: 12px 24px;
  border-radius: 70px;
}

.button.login{
  margin: 0;
}

.button:hover{
  text-decoration: none;
}

.primary{
  background-color: var(--primary);
  color: var(--secondary);
}

.button.secondary, .button.primary{
       font-size: 20px;
       margin-top: 20px;
}
