/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 800;
}

:root {
  --secondary: #ffffff;
  --header: #2a5ee8;
  --section-bg: #f6f6f6;
  --primary: #23272a;
  --accessory: #7289da;
}

.debug {
  border: 1px solid black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

header {
  background-color: var(--header);
}

nav.container{
  padding: 20px;
}

footer {
  color: white;
  background-color: var(--primary);
}

.d-flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

ul {
  list-style: none;
}

a:hover{
  text-decoration: underline;
}

a {
  color: var(--secondary);
  padding: 6px 10px;
  display: block;
  text-decoration: none;
}

#hero {
  background-image: url(../img/jumbo.png);
  min-height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

/* list */

ul {
  list-style: none;
}

li{
  padding: 7px 10px
}

/* buttons */

.button{
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 30px;
  min-width: 70px;
}

.button:hover{
  text-decoration: none;
}

